* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

article {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(185, 223, 239);
    padding: 1rem;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.amount {
    display: flex;
    flex-direction: column;
}
