* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

article {
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div {
    margin-top: 0.2rem;
    padding: 1rem;
    background-color: rgb(185, 223, 239);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}

.amount {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.amount input:nth-of-type(1) {
    width: 20%;
    height: 2rem;
}

.amount input:nth-of-type(2) {
    height: 2rem;
}

#amount-net {
    display: none;
}
